<?xml version="1.0"?>
<model>
  <name>Skywalker X8 New</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
   <name>Ingeborg Aarnes</name>
   <email>ingebota@stud.ntnu.no</email>
   <name>Roman Bapst</name>
   <email>roman@px4.io</email>
  </author>

  <description>
    This is a model of a Skywalker X8, based on the standard VTOL quad plane model and the data from JSBSim.
  </description>
</model>
